<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/controller.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/vendor/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/vendor/fastclick.js"></script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for(var i=1; i<=5; i++) {%>
      <button class="btn btn-primary preset" data-preset="<%= i %>">Preset <%= i %></button>
    <% } %>
  </body>
</html>
